<div class="jumbotron container">
  <h1>Welcome to stash overflow</h1>
</div>
<div class="container">
<h5>Here you can post any technical life question however challenging or easy
      it may seem, there's always an answer
      <br>Or be the smart guy and answer the questions posted<br>
      All in all have fun! </h5>

  <h1>Top Questions</h1>
  <ul>
    {{#each model.questions as |question|}}
      {{no-answer question}} {{question-tile question=question}}
    {{/each}}
  </ul>

  {{new-question saveQuestion2="saveQuestion3"}}




  <hr>
</div>
{{#link-to 'about' }}About {{/link-to}}
{{#link-to 'contact' }}Contact us{{/link-to}}
